@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;

  svg {
    height: 100%;
  }
}

.spacer {
  height: 100%;
}

.bubble-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  height: 100%;
  width: 300px;
  margin: 0 auto 3%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor: pointer;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.delete {
  color: rgb(216, 87, 87);
}

.color-box {
  height: 16px;
  width: 16px;
  border: 1px lightgray solid;
  margin-right: 36px;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  legend {
    padding-left: 40px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 16px;
  }

  label {
    display: flex;
    justify-content: space-between;
    padding: 4px 36px 4px 40px;
  }

  input {
    width: 100px;
  }
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  padding: 0 36px 20px 41px;

  button {
    border: none;
    background-color: black;
    color: white;
    padding: 3px 8px;
    margin-top: 16px;
  }
}

.login-form {
  margin: 0 auto;

  input {
    width: 60%;
    margin: 10px auto;
  }

  button {
    width: 30%;
    margin: 10px auto;
  }
}

nav {
  ul {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  li {
    list-style: none;
    margin-right: 5px;
    color: #696969;
  }

  a {
    text-decoration: none;
    padding: 5px;
    color: #696969;
  }
}
