.sideBarTabs {
  box-shadow: 10px 1px 18px -20px rgba(0, 0, 0, 0.863);
  background-color: transparent;
}
.sideBarTabs:hover {
  box-shadow: 20px 10px 28px -20px rgba(97, 4, 100, 0.884);
  box-shadow: 1px 1px 28px 8px rgba(20, 81, 247, 0.158);
}
