.login {
  //   border: solid red;
  //   height: 100vh;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   padding-top: 180px;
}
.left-login {
  height: calc(100vh - 96px);
  background-image: url('https://picsum.photos/2000');
  background-position: center center;
  background-size: cover;
}

.right-login {
  background-color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 50px 100px 150px 100px;
  border-radius: 20px 0 20px;

  -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
}

.login-logo {
  width: 20rem;
  margin-bottom: 50px;
}
